.header__nav {
    display: flex;
    justify-content: flex-end; /* Aligns all child elements to the right */
    overflow: hidden;
    color: blue;
}

.header__logo{
    flex:1;
    display:flex;
    position: relative;
    padding:20px;
}
.header__logo-overlay{
    position:absolute;
    inset:0;
    width:100%


}

